.todo-container {
  display: flex;
  justify-content: space-between;
  background-color: #a5a4a487;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
}

.todo-container > div {
  flex-grow: 1;
  width: 80%;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.delete-todo {
  width: 0;
  overflow: hidden;
  transition: width 0.2s;
}

div:hover > .delete-todo {
  width: 7%;
  cursor: pointer;
}