.todo-container {
  display: flex;
  justify-content: space-between;
}

.todo-container > div {
  flex-grow: 1;
  width: 80%;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.delete-todo {
  width: 0;
  overflow: hidden;
  transition: width 0.2s;
}

div:hover > .delete-todo {
  width: 8%;
  cursor: pointer;
}